<div class="container">
    <mat-card>
        <h1>
            <mat-card-title translate>Welcome to Aurel-AI</mat-card-title>
        </h1>
        <mat-card-content>
            <P>Aurel-AI is a multi purpose AI Supported asistant.</P>
            <img class="circle-logo" src="./assets/aurel/logo-2.png" alt="aurel-ai-logo">
            <p>This project also created for Metaverse Purposes where
                users can interact throw the world EDEN.</p>
        </mat-card-content>
    </mat-card>
</div>