<div class="chat-container" fxLayout="column">
  <mat-card>
    <div class="messages" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch" #scrollMe>
      <div *ngFor="let message of messages" class="message" [class.sent]="message.sender === 'Me'"
        [class.received]="message.sender !== 'Me'">
        <div class="message-sender">{{ message.sender }}</div>
        <div class="message-content">{{ message.content }}</div>
        <div class="message-timestamp">{{ message.timestamp | date: 'shortTime' }}</div>
      </div>
    </div>
    <div class="input-container" fxLayoutAlign="start center">
      <mat-form-field class="input-field" appearance="outline">
        <input matInput [(ngModel)]="newMessage" placeholder="Type a message...">
        <button matSuffix mat-icon-button color="accent" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card>
</div>